html,
body {
    padding: 0;
    margin: 0;
}
#content {
    align-items: center;
    justify-content: center;
}
#game {
    margin: 0% 5% 0% 5%;
    height: 90%;
    width: 90%;
    position: absolute;
}
#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 10px;
    padding-left: 10vh;
    color: red;
}

#scoreSection {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 10px 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#scoreText {
    padding: 0px 20px;
}
.gameOver {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    display: none;
    flex-flow: column;
}
.gameOver button {
    font-size: 28px;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

.gameOver button:hover {
    background-color: black;
    border-color: white;
    color: white;
}
.scoreMessage {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    color: red;
}
.show {
    display: flex;
}

#trialsSection {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.life {
    height: 20px;
    padding-top: 10px;
}

#trailsLeft {
    font-size: large;
    padding-top: 10px;
}
